.header {
    padding: 20px 0;
    background-color: var(--accent-bg-color);
}

.navigation {
    display: flex;
    justify-content: center;
}

.navLink {
    border: none;
    border-radius: 2px;

    background-color: var(--main-bg-color);
    color: var(--main-text-color);

    font-weight: 500;
    text-decoration: none;

    transition: background-color 250ms ease,
    color 250ms ease;
}

.navLink:hover,
.navLink:focus {
    background-color: var(--hover-bg-color);
    color: var(--secondary-text-color);
}

/* desktop */

.navigationD {
    gap: 30px;
}

.navLinkD {
    padding: 15px 18px;
    font-size: 20px;
}

/* tablet */

.navigationT {
    gap: 30px;
}

.navLinkT {
    padding: 10px 13px;
    font-size: 17px;
}

/* mobile */

.navigationM {
    gap: 15px;
}

.navLinkM {
    padding: 5px 8px;
    font-size: 16px;
}