.item {
    margin: 0 0 20px 0; 
}

.item:last-of-type {
    margin: 0;
}

.number {
    margin: 0 0 10px 0; 

    color: var(--accent-text-color);
    font-weight: 500;
}

.address {
    margin: 0;

    color: var(--main-text-color);
    font-weight: 400;
}

/* desktop */

.numberD {
    font-size: 17px; 
}

.addressD {
    font-size: 17px; 
}

/* tablet */

.numberT {
    font-size: 16px;
}

.addressT {
    font-size: 16px;
}

/* mobile */

.numberM { 
    font-size: 16px;
}

.addressM {
    font-size: 14px;
}