/* desktop */

.formD {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 30px 0;
}

.inputD {
    padding: 10px;
    width: 250px;
}

.buttonD {
    padding: 10px 18px;
    border: none;
    border-radius: 2px;

    background-color: var(--accent-text-color);
    color: var(--secondary-text-color);

    font-size: 13px;
    font-weight: 500;

    transition: background-color 250ms ease;
}

.buttonD:hover,
.buttonD:focus {
    background-color: var(--hover-bg-color);
}

/* tablet */

.formT {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 30px 0;
}

.inputT {
    padding: 10px;
    width: 250px;
}

.buttonT {
    padding: 10px 18px;
    border: none;
    border-radius: 2px;

    background-color: var(--accent-text-color);
    color: var(--secondary-text-color);

    font-size: 13px;
    font-weight: 500;

    transition: background-color 250ms ease;
}

.buttonT:hover,
.buttonT:focus {
    background-color: var(--hover-bg-color);
}

/* mobile */

.formM {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

.inputM {
    padding: 10px;
    width: 250px;
}

.buttonM {
    padding: 10px 16px;
    border: none;
    border-radius: 2px;

    background-color: var(--accent-text-color);
    color: var(--secondary-text-color);

    font-size: 13px;
    font-weight: 500;

    transition: background-color 250ms ease;
}

.buttonM:hover,
.buttonM:focus {
    background-color: var(--hover-bg-color);
}