.list {
    list-style: none;
    padding: 0;
    margin: 0 0 45px 0;
}

.title {
    margin: 0 0 15px 0;
    color: var(--accent-text-color);
}

.item {
    margin: 0 0 10px 0;
    cursor: pointer;

    color: var(--main-text-color);
    transition: color 250ms ease;
}

.item:last-of-type {
    margin: 0;
}

.item:hover,
.item:active {
    color: var(--accent-text-color);
}

.button {
    position: absolute;

    bottom: 20px;

    left: 50%;
    transform: translateX(-50%);

    cursor: pointer;

    padding: 10px 18px;
    border: none;
    border-radius: 2px;

    background-color: var(--accent-text-color);
    color: var(--secondary-text-color);

    font-size: 13px;
    font-weight: 500;

    transition: background-color 250ms ease;
}

.button:hover,
.button:focus {
    background-color: var(--hover-bg-color);
}

/* desktop */

.historyD {
    position: relative;

    width: 200px;
    min-height: 600px;
    padding: 20px;

    border-radius: 2px;

    background-color: var(--secondary-bg-color);
}

.titleD {
    font-size: 20px;
    font-weight: 700;
}

.itemD {
    font-size: 17px;
    font-weight: 500;
}

/* tablet */

.historyT {
    position: relative;

    width: 200px;
    min-height: 500px;
    padding: 20px;

    border-radius: 2px;

    background-color: var(--secondary-bg-color);
}

.titleT {
    font-size: 20px;
    font-weight: 700;
}

.itemT {
    font-size: 17px;
    font-weight: 400;
}

/* mobile */

.historyM {
    position: relative;

    width: 320px;
    min-height: 100px;
    padding: 20px;

    border-top: 1px solid var(--hover-bg-color);
    border-radius: 2px;

    background-color: var(--main-bg-color);
}

.titleM {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.listM {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.itemM {
    font-size: 16px;
    font-weight: 400;
}
