@import-normalize;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --accent-bg-color: #ff3333;
  --main-bg-color: #fff;
  --secondary-bg-color: #f2f2f2;
  --hover-bg-color: #595959;
  --main-text-color: #000;
  --secondary-text-color: #fff;
  --accent-text-color: #cc0000;
}