/* desktop */

.emptyInfoD {
    width: 600px;
    height: 50px;
    padding: 0 20px;
}

.infoD {
    width: 600px;
    height: 220px;
    padding: 20px;

    border-radius: 2px;

    background-color: var(--secondary-bg-color);
}

.statusD {
    margin: 0 0 15px 0;

    color: var(--accent-text-color);

    font-size: 20px;
    font-weight: 700;
}

.detailsD {
    margin: 0 0 10px 0;

    color: var(--main-text-color);

    font-size: 17px;
    font-weight: 500;
}

.detailsD:last-of-type {
    margin: 0;
}

.errorD {
    margin: 0;
    
    color: var(--accent-text-color);

    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

/* tablet */

.emptyInfoT {
    width: 400px;
    height: 50px;
    padding: 0 20px;
}

.infoT {
    width: 400px;
    height: 220px;
    padding: 20px;

    border-radius: 2px;

    background-color: var(--secondary-bg-color);
}

.statusT {
    margin: 0 0 15px 0;

    color: var(--accent-text-color);

    font-size: 20px;
    font-weight: 700;
}

.detailsT {
    margin: 0 0 10px 0;

    color: var(--main-text-color);

    font-size: 17px;
    font-weight: 400;
}

.detailsT:last-of-type {
    margin: 0;
}

.errorT {
    margin: 0;
    
    color: var(--accent-text-color);

    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

/* mobile */

.emptyInfoM {
    width: 320px;
    padding: 0 10px;
}

.infoM {
    width: 320px;
    padding: 10px;

    background-color: var(--main-bg-color);
}

.statusM {
    margin: 0 0 15px 0;

    color: var(--accent-text-color);

    font-size: 17px;
    font-weight: 500;
}

.detailsM {
    margin: 0 0 10px 0;

    color: var(--main-text-color);

    font-size: 15px;
    font-weight: 400;
}

.detailsM:last-of-type {
    margin: 0;
}

.errorM {
    margin: 0;
    
    color: var(--accent-text-color);

    font-size: 17px;
    font-weight: 500;
    text-align: center;
}